In [ ]:
#First, import the Python random libary

In [1]:
import random

In [ ]:
#In the cell below, create a list named sample_list_1 with 80 random values.

In [8]:
sample_list_1 = random.sample(range(100),k=80)

In [10]:
print(sample_list_1)

[59, 9, 8, 33, 98, 60, 93, 74, 7, 75, 47, 91, 81, 42, 43, 6, 52, 26, 5, 66, 79, 90, 80, 14, 95, 22, 31, 64, 62, 73, 16, 15, 18, 82, 77, 12, 35, 55, 37, 17, 40, 72, 56, 51, 32, 54, 97, 57, 96, 86, 36, 23, 89, 53, 50, 88, 3, 30, 29, 13, 41, 65, 27, 68, 1, 70, 58, 21, 46, 84, 61, 11, 38, 19, 92, 69, 25, 24, 71, 34]

In [ ]:
#Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

In [11]:
set1 = set(sample_list_1)

In [12]:
print(set1)

{1, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 84, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}

In [13]:
len(set1)

80

In [ ]:
#Create another list named sample_list_2 with 80 random values.

In [17]:
sample_list_2 = [random.randrange(100) for i in range(80)]
print(sample_list_2)

[71, 45, 46, 50, 2, 49, 49, 3, 21, 36, 72, 36, 19, 8, 90, 67, 8, 18, 92, 39, 63, 0, 0, 1, 73, 36, 23, 97, 95, 45, 99, 44, 38, 23, 60, 69, 54, 56, 27, 80, 10, 36, 61, 6, 1, 67, 27, 47, 70, 56, 19, 7, 21, 57, 0, 59, 28, 82, 85, 60, 58, 66, 78, 18, 44, 31, 81, 16, 27, 79, 66, 17, 35, 1, 85, 4, 58, 5, 86, 38]

In [ ]:
#Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?

In [18]:
set2 = set(sample_list_2)
len(set2)

56

In [ ]:
#Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [19]:
set3 = set1-set2
set3

{9,
 11,
 12,
 13,
 14,
 15,
 22,
 24,
 25,
 26,
 29,
 30,
 32,
 33,
 34,
 37,
 40,
 41,
 42,
 43,
 51,
 52,
 53,
 55,
 62,
 64,
 65,
 68,
 74,
 75,
 77,
 84,
 88,
 89,
 91,
 93,
 96,
 98}

In [ ]:
#Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [20]:
set4 = set2 - set1
set4

{0, 2, 4, 10, 28, 39, 44, 45, 49, 63, 67, 78, 85, 99}

In [ ]:
#Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.

In [22]:
set5 = set1.intersection(set2)
set5

{1,
 3,
 5,
 6,
 7,
 8,
 16,
 17,
 18,
 19,
 21,
 23,
 27,
 31,
 35,
 36,
 38,
 46,
 47,
 50,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 66,
 69,
 70,
 71,
 72,
 73,
 79,
 80,
 81,
 82,
 86,
 90,
 92,
 95,
 97}

In [ ]:
#What is the relationship among the following values:

#len(set1)
#len(set2)
#len(set3)
#len(set4)
#len(set5)

In [24]:
print(len(set1))
print(len(set2))
print(len(set3))
print (len(set4))
print (len(set5))

80
56
38
14
42

In [57]:
x = len(set3) + len(set5)
print(x)

80

In [58]:
print(len(set1)== x)

True

In [ ]:
print(len(set1) == )

In [ ]:
#Create an empty set called set6.

In [25]:
set6 = set()

In [ ]:
#Add set3 and set5 to set6 using the Python Set update method.

In [26]:
set6.update(set3, set5)

In [27]:
set6

{1,
 3,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 46,
 47,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 79,
 80,
 81,
 82,
 84,
 86,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98}

In [ ]:
#Check if set1 and set6 are equal.

In [28]:
set1 == set6

True

In [ ]:
#Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [29]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

In [ ]:
#Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.

#Check if the aggregated values are equal.

In [31]:
u1 = set3.union(set4,set5)
u2 = set1.union(set2)
u1 == u2

True

In [ ]:
#Using the pop method, remove the first element from set1.

In [35]:
set1.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [36]:
str(set1)

'{1, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 84, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}'

In [41]:
list(set1)

[1,
 3,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 46,
 47,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 79,
 80,
 81,
 82,
 84,
 86,
 88,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98]

In [44]:
lista = list(set1)
type(lista)

list

In [46]:
lista.reverse()
lista

[98,
 97,
 96,
 95,
 93,
 92,
 91,
 90,
 89,
 88,
 86,
 84,
 82,
 81,
 80,
 79,
 77,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 66,
 65,
 64,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 47,
 46,
 43,
 42,
 41,
 40,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 9,
 8,
 7,
 6,
 5,
 3,
 1]

In [47]:
lista.pop()

1

In [48]:
lista

[98,
 97,
 96,
 95,
 93,
 92,
 91,
 90,
 89,
 88,
 86,
 84,
 82,
 81,
 80,
 79,
 77,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 66,
 65,
 64,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 47,
 46,
 43,
 42,
 41,
 40,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 9,
 8,
 7,
 6,
 5,
 3]

In [ ]:
#Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.

In [49]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [51]:
new_set = set(list_to_remove)

In [52]:
new_set

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

In [53]:
set1 -new_set

{3,
 5,
 6,
 7,
 8,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 22,
 23,
 24,
 25,
 26,
 27,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 46,
 47,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 73,
 74,
 75,
 77,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 93,
 95,
 96,
 97,
 98}