In [ ]:
# In the cell below, define a variable tup with a single element "I"

In [5]:
tup = ("i",)

In [ ]:
# Print the type of tup.

In [6]:
type(tup)

tuple

In [ ]:
# Now try to append the following elements to tup

In [ ]:
# you cant add to a tuple

In [ ]:
# Re-assign the following elements

In [7]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k",)

In [ ]:
# split tup into tup1 and tup2 with 4 elements in each

In [8]:
tup1 = tup [0:4]
tup2 = tup [-4:]

print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

In [ ]:
#Add tup1 and tup2 into tup3 using the + operator.

In [9]:
tup3 = tup1 + tup2
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [ ]:
#Count the number of elements in tup1 and tup2. Then add the two counts together 
#and check if the sum is the same as the number of elements in tup3

In [11]:
len(tup1) + len(tup2)

8

In [12]:
len(tup3)

8

In [ ]:
#What is the index number of "h" in tup3?

In [13]:
tup3.index("h")

4

In [ ]:
#Now, use a FOR loop to check whether each letter in the following list is present in tup3:

In [15]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
    if i in tup3:
        print(True)
    else:
        print(False)

True
False
True
False
False

In [ ]:
# How many times does each letter in letters appear in tup3?

In [36]:
def countX(tup3, x):
    count = 0
    for i in tup3:
        #print('esto no es el if',i,x)
        if (i == x):
            #print(i,x)
            count = count + 1
    return count
for i in letters:
    print('La letra',i,'se repite',countX(tup3,i),'veces')

#letters = ["a", "b", "c", "d", "e"]
#var1 = "a"
#var2 = "c"

#print(countX(tup3, var1))
#print(countX(tup3, var2))

La letra a se repite 1 veces
La letra b se repite 0 veces
La letra c se repite 1 veces
La letra d se repite 0 veces
La letra e se repite 0 veces

In [18]:
print(tup3)
print(letters)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
['a', 'b', 'c', 'd', 'e']

In [39]:
print({i:tup3.count(i) for i in letters})

{'a': 1, 'b': 0, 'c': 1, 'd': 0, 'e': 0}